nav{
   
    text-align:center;
    color:aliceblue;
   
}
.nav-title{
    font-size: 100px;
    color:green;
}
.btn{
    
    background:rgb(255, 51, 0);
    font-size: 80px;
    
    
}
.header{
    background:aliceblue;
    font-size: 50px;
  background-image: url('../images/donation10.jpg');
  background-repeat:no-repeat ;
background-position:bottom;
  background-size:2400px;
  


}
.title{
    font-size: 50px;
    color:black;
}

.info{
    color:black;
    display:flex;
    justify-content: space-evenly;
    margin:38px;
}
.red{
    color:red;
}
.color{
    background:pink;
    border: 0px;
    font-size: 50px;
    font-weight: 80px;
}
.info{
    background: aliceblue;
    box-shadow: 50px;
}
.now{
    font-size: 40px;
    color:azure;
 
}

.b{
    background:red;
}
.our{
    text-align:center;
}
.sill-container{
    display: flex;
    gap:30px;
}
.skill{
  background:goldenrod;
  box-shadow: 0px 6px 50px; color:brown;
  border-radius: 5px;
  padding:30px;
}
.skill-title{
    font-size: 30px;
    font-weight: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-description{
    color:aliceblue;
    
}
.ab{
    font-size: 100px;
}
.abc{
    font-size: 50px;
}
.guta{
  
    font-size: 30px;
}
.how{
    font-size: 25px;
     color:greenyellow;
     background:red;
}
.banner{
    display: flex;
    justify-content:space-between;
}
.ff{
    font-size: 60px;
}
.ss{
    text-align: center;
    font-size: 30px;
}
.kk{
    font-size: 50px;
}
form{
    text-align: center;
   margin-bottom: 200px;
   
}
.h{
    background:greenyellow;
    color:crimson;
    font-size:30px;
}
.l{
    text-align: center;
    background:navy;
    color:darkorange;
    font-style: italic;

}
.p{
    color:floralwhite;
}